<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es-es" >


<head>
  <%=slides_metadata%>
	<!-- configuration parameters -->
	<meta name="defaultView" content="slideshow" />
	<meta name="controlVis" content="hidden" />
	
	<!-- style sheet links -->
	<link rel="stylesheet" href="ui/default/slides.css" type="text/css" media="projection" id="slideProj" />
	<link rel="stylesheet" href="ui/default/outline.css" type="text/css" media="screen" id="outlineStyle" />
	<link rel="stylesheet" href="ui/default/print.css" type="text/css" media="print" id="slidePrint" />
	<link rel="stylesheet" href="ui/default/opera.css" type="text/css" media="projection" id="operaFix" />
	
	<!-- S5 JS -->
	<script src="ui/default/slides.js" type="text/javascript"></script>
</head>

<body>

	<div class="layout">
		<div id="controls"><!-- NO EDITAR --></div>
		<div id="currentSlide"><!-- NO EDITAR --></div>

		<div id="header">
			<div id="logo"><!-- NO EDITAR --></div>
		</div>

	</div>

	<div id="footer">
    <%=slides_footer%>
	</div>


<div class="presentation">

<%=slides%>

</div>

</body>
</html>
